.dot {
  position: relative;
  display: flex;
  height: max-content;

  b {
    position: absolute;
    border-radius: 100%;
    padding: 6px;
    display: block;
    background: currentColor;
    border: 2px solid;
  }
}

.online {
  color: lawngreen !important;
}

.offline {
  color: silver !important;
}

.bottom {
  align-items: end;

  &.small {
    b {
      margin-bottom: -3px;
      padding: 3px;
    }
  }

  &.medium {
    b {
      margin-bottom: -6px;
      padding: 6px;
    }
  }

  &.large {
    b {
      margin-bottom: -9px;
      padding: 9px;
    }
  }
}

.right {
  justify-content: end;

  &.small {
    b {
      margin-right: -3px;
      padding: 3px;
    }
  }

  &.medium {
    b {
      margin-right: -6px;
      padding: 6px;
    }
  }

  &.large {
    b {
      margin-right: -9px;
      padding: 9px;
    }
  }
}

.top {
  align-items: start;

  &.small {
    b {
      margin-top: -3px;
      padding: 3px;
    }
  }

  &.medium {
    b {
      margin-top: -6px;
      padding: 6px;
    }
  }

  &.large {
    b {
      margin-top: -9px;
      padding: 9px;
    }
  }
}

.left {
  justify-content: start;

  &.small {
    b {
      margin-left: -3px;
      padding: 3px;
    }
  }

  &.medium {
    b {
      margin-left: -6px;
      padding: 6px;
    }
  }

  &.large {
    b {
      margin-left: -9px;
      padding: 9px;
    }
  }
}

.secondary {
  color: purple;
}

.success {
  color: green;
}

.default {
  color: blue;
}