.btn {
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: 600;
}

//link primary outline
.primary {
  border: none;
  background: rgb(25, 118, 210);
  color: white;


  &.small {
    padding: 4px 10px;
    font-size: 0.81rem;
  }

  &.medium {
    padding: 6px 16px;
    font-size: 0.87rem;
  }

  &.large {
    font-size:  0.93rem;
    padding: 8px 22px;
  }

  &.success {
    background-color: #2e7d32;


    &:hover:not(.disabled) {
      background: #215b23;
    }

  }

  &.error {
    background-color: #e33131;

    &:hover:not(.disabled) {
      background-color: #b92929;
    }
  }

  &.secondary {
    background-color: #9c27b0;

    &:hover:not(.disabled) {
      background-color: #7a1f88;

    }
  }

  &.disabled {
    cursor: auto;
    color: gray;
    background: #bfbfbf;

  }

  &:hover:not(.disabled) {
    background-color: rgb(8, 80, 145);

  }

}

.link {
  border: none;
  background: none;
  color: #1976d2;

  &.small {
    padding: 4px 10px;
    font-size: 0.81rem;
  }

  &.medium {
    padding: 6px 16px;
    font-size: 0.87rem;
  }

  &.large {
    font-size:  0.93rem;
    padding: 8px 22px;
  }

  &.success {
    color: #2e7d32;

    &:hover:not(.disabled) {
      background-color: rgba(46, 125, 50, 0.04);
    }

  }

  &.error {
    color: rgb(211, 47, 47);

    &:hover:not(.disabled) {
      background-color: rgba(211, 47, 47, 0.04);
    }
  }

  &.secondary {
    color: #9c27b0;

    &:hover:not(.disabled) {
      background-color: rgba(156, 39, 176, 0.04);
    }
  }

  &.disabled {
    cursor: auto;
    color: rgba(0, 0, 0, 0.26);

  }

  &:hover:not(.disabled) {
    background-color: rgba(25, 118, 210, 0.04);
  }
}

.outlined {
  color: #1976d2;
  background-color: transparent;
  border: 1px solid #1976d2;


  &.small {
    padding: 4px 10px;
    font-size: 0.81rem;
  }

  &.medium {
    padding: 6px 16px;
    font-size: 0.87rem;
  }

  &.large {
    font-size:  0.93rem;
    padding: 8px 22px;
  }

  &.success {
    color: #2e7d32;
    border-color: rgba(46, 125, 50, 0.5);

    &:hover:not(.disabled) {
      background-color: rgba(46, 125, 50, 0.04);
      border-color: #2e7d32;
    }

  }

  &.error {
    color: #d32f2f;
    border-color: rgba(211, 47, 47, 0.5);


    &:hover:not(.disabled) {
      background-color: rgba(211, 47, 47, 0.04);
      border-color: #d32f2f;
    }
  }

  &.secondary {
    color: #9c27b0;
    border-color: rgba(156, 39, 176, 0.5);


    &:hover:not(.disabled) {
      background-color: rgba(156, 39, 176, 0.04);
      border-color: #9c27b0;
    }
  }

  &.disabled {
    cursor: auto;
    color: rgba(0, 0, 0, 0.26);
    border-color: rgba(0, 0, 0, 0.26);


  }

  &:hover:not(.disabled) {
    background-color: rgba(25, 118, 210, 0.04);
  }
}

