.avatar {
  display: flex;
  justify-content: center;
  align-items: center;

  color: #F2F2F2;

  & > img {
    width: 100%;
    height: 100%;
  }
}

.small {
  width: 30px;
  height: 30px;

  font-size: 10px;
}

.medium {
  width: 45px;
  height: 45px;
}

.large {
  width: 60px;
  height: 60px;

  font-size: 20px;
}


.square {
}
.rounded {
  border-radius: 5px;
  &>img {
    border-radius: 5px;
  }
}

.circle {
  border-radius: 100%;
  &>img {
    border-radius: 100%;
  }
}